body {
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 35px;
}
.container {
    background-color: gainsboro;
    width: 70%;
    height: 400px;
    text-align: center;
    justify-content: center;
    border: 1px solid #000;
}